.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 7rem;
}


.skill-header {
  margin-bottom: 3rem;
  color: chartreuse;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 7.875rem;
  height: 7.25rem;
}

.icon-card {
  background-color: transparent;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

@media screen and (max-width: 720px) {
  /*changes reflects on screen with a width of 720px and below*/

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .skills-wrapper {
    justify-content: center;
    width: 567px;
    padding-left: 27px;
  }


  .skill-header {
    text-align: center;
    width: max-content;
    padding-left: 224px;
  }

}